.ant-menu {
  height: 100vh;
  background: linear-gradient(45deg, #e3ffe7 10%, #d9e7ff 100%);
  /* background-image: linear-gradient(45deg, #e6e9f0 0%, #eef1f5 100%); */
}
/* For Collapse  */
.ant-layout-sider-trigger {
  /* background: linear-gradient(to top, #e3ffe7 0%, #d9e7ff 100%) !important;   */
  background-color: #dcdcdc !important;
  color: #292929 !important; 
}
